.body {
  font-weight: 600px;
}

.header {
  &__top {
    background-color: $green;
    padding: 5px 0 11px;
  }

  &__bottom {
    background-color: $dark-green;

    a {
      color: $white;
      font-size: 16px;
      font-family: 'PlayfairDisplay';
    }
  }

  &__logo {
    display: inline-block;
    padding: 5px 0 11px;

    img {
      height: 26px !important;
    }
  }

  &__column {

    padding-bottom: 0 !important;

    * {
      height: 100%;
      vertical-align: middle;
      text-align: center;
    }

    th {
      height: 50px;


    }
  }
}

.footer {
  background-color: $dark-green;
  text-align: center;

  & > tbody > tr > td {
    padding: 0 30px;
  }

  * {
    color: $white !important;
  }

  &__links td {
    text-align: center;
  }

  &__link {
    display: inline-block;
    padding: 0 4.5px;
  }

  &__bottom {
    font-size: 12px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 616px) {
  .container {
    width: 100% !important;
  }
}
