<row>
  <columns small="12">
    <h2>Let the light shine through</h2>
    <div class="top-block">
      <p>If Halloween is not your type of holiday, think of it as a celebration of ancestors and spiritual connections. Thank your spirit guides
        for their assistance and call for their support in accomplishing
        new goals.</p>
      <p>As we step into the darker winter part of the year, let's start bringing more light into life of ourselves and those around us.</p>
    </div>
    <div class="red-divider"></div>
    <div class="bottom-block">
      <p><stron>We have amazing training programs starting very soon and we'd love to invite you to join us!</stron></p>
      <p class="red"><strong>Watch out for promocodes below!</strong></p>
    </div>
  </columns>
</row>